<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cs160.bactracker" >

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault"
        android:largeHeap="true">

        <activity
            android:name=".MenuWearableList"
            android:label="WearableList" />
        <activity android:name=".DrinkMenuWearableList"
            android:label="DrinkMenuWearableList"/>

        <activity
            android:name=".BACActivity"
            android:label="BACtracker" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".WatchListeningService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".BACService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".DrinksListActivity"
            android:label="@string/title_activity_drinks_list" />
        <activity
            android:name=".CountDrinks"
            android:label="@string/title_activity_count_drinks" />
        <activity
            android:name=".DrinkCategories"
            android:label="@string/title_activity_drink_categories"/>


    </application>

</manifest>
